<a href="https://colab.research.google.com/github/akif-onder/akif-onder/blob/main/map_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EX.1
Write a map function that adds plus 5 to each item in the list.

In [ ]:
lst1=[10, 20, 30, 40, 50, 60]

lst2= list(map(lambda x : x+ 5, lst1)) #map() function takes two arguments,first the function, then comma and second the name of the list to be used for the mapping function.

print(lst2)

[15, 25, 35, 45, 55, 65]

EX.2

Write a map function that returns the squares of the items in the list.

In [ ]:
lst1 = [10, 20, 30, 40, 50, 60]
lst2 = list(map(lambda x: x**2, lst1))
print(lst2)

[100, 400, 900, 1600, 2500, 3600]

EX.3

Write a map function that adds "Hello, " in front of each item in the list.

In [ ]:
lst1=["Jane", "Lee", "Will", "Brie"]

lst2=list(map(lambda x: "Hello, " + x, lst1))

print(lst2)

['Hello, Jane', 'Hello, Lee', 'Hello, Will', 'Hello, Brie']

EX.4

Using map() function and len() function create a list that's consisted of lengths of each element in the first list.

In [ ]:

lst1=["Alpine", "Avalanche", "Powder", "Snowflake", "Summit"]

lst2= list(map(lambda x: len(x), lst1))

print(lst2)

[6, 9, 6, 9, 6]

EX.5

Using map() function and lambda add each elements of two lists together. Use a lambda with two arguments.

In [ ]:
lst1=[100, 200, 300, 400, 500]
lst2=[1,10,100,1000,10000]


lst3=list(map(lambda x, y: x + y, lst1, lst2))


print(lst3)

[101, 210, 400, 1400, 10500]

EX.6

Using map() function and lambda and count() function create a list which consists of the number of occurence of letter: a.

In [ ]:
lst1=["Alaska", "Alabama", "Arizona", "Arkansas", "Colorado", "Montana", "Nevada"]
#Type your answer here.

lst2=list(map(lambda x: x.count("a"), lst1))


print(lst2)

[2, 3, 1, 2, 1, 2, 2]

EX.7

Using map() function and lambda and count() function create a list consisted of the number of occurence of both letters: A and a.

In [ ]:
lst1=["Alaska", "Alabama", "Arizona", "Arkansas", "Colorado", "Montana", "Nevada"]
#Type your answer here.

lst2=list(map(lambda x: x.lower().count("a"),lst1))


print(lst2)

[3, 4, 2, 3, 1, 2, 2]

EX.8


Using map() function, first return a new list with absolute values of existing list. Then for ans_1, find the total sum of the new list's elements.

In [ ]:

lst=[99.3890,-3.5, 5, -0.7123, -9, -0.003]
new_lst=list(map(lambda x: abs(x), lst))

ans_1=sum(new_lst)

print(ans_1)

117.6043